.migration_service_pair{
    padding: 0;
}

.migration_service_label, .migration_service_value {
    border-style: none solid solid solid;
    border-width: 1px;
    border-color: #ddd;
    padding: 6px 8px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 35px;
}
.migration_service_label {
    font-weight: 700;
    background-color: #eaeaea;
}