<div class="container">
    <div class="row" id="{{props.uuid}}">
        <div 
            class="migration_service_pair"
            [ngClass]="[manageSpaceToBeUsed(this.props.content.length, i)]"
            *ngFor="let elementProp of this.props.content; let i = index"
        >
            <div 
                class="migration_service_label col-sm-{{keyValueColArea}}" 
                title="{{elementProp.key}}"
            >
                {{elementProp.key}}
            </div>
            <div 
                class="migration_service_value col-sm-{{keyValueColArea}} {{elementProp.valueClazz}}" 
                title="{{elementProp.value}}"
            >
                {{elementProp.value}}
            </div>
        </div>
    </div>
</div>