<div class="row">
    <div 
        id="{{elementProp.id}}" 
        class="migration_service_pair col-sm-{{elementProp.colSize}}"
        [ngClass]="[calcBootstrap3RemainingColSize(this.props.length, i)]"
        *ngFor="let elementProp of this.props; let i = index"
    >
        <div 
            class="migration_service_label col-sm-12" 
            title="{{elementProp.key}}"
        >
            {{elementProp.key}}
        </div>
        <div 
            class="migration_service_value col-sm-12 {{elementProp.clazz}}" 
            title="{{elementProp.value}}"
        >
            {{elementProp.value}}
        </div>
    </div>
</div>