mat-form-field {
    width: 94%;
}

.btn{
    float: right;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #0099ab !important;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white !important;
}