<div class="container-flex">
    <div class="row">
        <div class="col-sm-6">
            <div class="row" *ngFor="let pageArea of pageAreas">
                <app-configurator
                    [label]='pageArea.pageContext'
                    [defaultValue]='pageArea.defaultValue'
                ></app-configurator>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <app-page-generator></app-page-generator>
            </div>
        </div>
    </div>
</div>