<div 
    #pageArea 
    class="fixedComponents" 
    [ngStyle]="{'height.px': bodyHeight}"
    (window:resize)="onResize($event)"
>
    <label>Preview</label>

    <app-component-factory *ngFor="let pageArea of pageAreas"
        [label]='pageArea'
    ></app-component-factory>

    <!-- <app-inventory></app-inventory>

    <hr>

    <app-result></app-result> -->

<!--     <app-collapsable
        [componentProperties]="{
            sectionTitle: 'asdsd',
            collapseSection: false,
            anchorID: 'bola',
            fieldsetID: '',
            uniqueKey: '',
            parentID: '', 
            collapsedFieldSet: false,
            headerDivClass: '',
            anchorClass: '',
            iClass: '',
            spanClass: ''
        }"
    >
        <div class="row">
            <div class="col-sm-12">
                <app-keyUpValueDownTable
                    [componentProperties]="{
                        id: '',
                        clazz: '',
                        colSize: 3,
                        key: 'bolas',
                        value: 'bolas2'
                    }"
                ></app-keyUpValueDownTable>
                <app-keyUpValueDownTable
                    [componentProperties]="{
                        id: '',
                        clazz: '',
                        colSize: 3,
                        key: 'bolas1',
                        value: 'bolas22'
                    }"
                ></app-keyUpValueDownTable>
                
                <app-keyUpValueDownTable
                    [componentProperties]="{
                        id: '',
                        clazz: '',
                        colSize: 3,
                        key: 'bolas11',
                        value: 'bolas222'
                    }"
                ></app-keyUpValueDownTable>
                <app-keyUpValueDownTable
                    [componentProperties]="{
                        id: '',
                        clazz: '',
                        colSize: 3,
                        key: 'bolas111',
                        value: 'bolas2222'
                    }"
                ></app-keyUpValueDownTable>
            </div>
        </div>
    </app-collapsable>

    <app-collapsable
        [componentProperties]="{
            sectionTitle: 'asdsd2',
            collapseSection: false,
            anchorID: 'bola2',
            fieldsetID: '',
            uniqueKey: '',
            parentID: '', 
            collapsedFieldSet: false,
            headerDivClass: '',
            anchorClass: '',
            iClass: '',
            spanClass: ''
        }"
    >
        <app-keyUpValueDownTable
            [componentProperties]="{
                id: '',
                clazz: '',
                colSize: 6,
                key: 'aaaa',
                value: 'bbbb'
            }"
        ></app-keyUpValueDownTable>
    </app-collapsable>

    <app-collapsable
        [componentProperties]="{
            sectionTitle: 'asdsd2',
            collapseSection: false,
            anchorID: 'bola2',
            fieldsetID: '',
            uniqueKey: '',
            parentID: '', 
            collapsedFieldSet: false,
            headerDivClass: '',
            anchorClass: '',
            iClass: '',
            spanClass: ''
        }"
    >
        <app-keyUpValueDownTable
            [componentProperties]="{
                id: '',
                clazz: '',
                colSize: 6,
                key: 'aaaa',
                value: 'bbbb'
            }"
        ></app-keyUpValueDownTable>
    </app-collapsable>


    <app-collapsable
        [componentProperties]="{
            sectionTitle: 'asdsd2',
            collapseSection: false,
            anchorID: 'bola2',
            fieldsetID: '',
            uniqueKey: '',
            parentID: '', 
            collapsedFieldSet: false,
            headerDivClass: '',
            anchorClass: '',
            iClass: '',
            spanClass: ''
        }"
    >
        <app-keyUpValueDownTable
            [componentProperties]="{
                id: '',
                clazz: '',
                colSize: 6,
                key: 'aaaa',
                value: 'bbbb'
            }"
        ></app-keyUpValueDownTable>
    </app-collapsable>


    <app-collapsable
        [componentProperties]="{
            sectionTitle: 'asdsd2',
            collapseSection: false,
            anchorID: 'bola2',
            fieldsetID: '',
            uniqueKey: '',
            parentID: '', 
            collapsedFieldSet: false,
            headerDivClass: '',
            anchorClass: '',
            iClass: '',
            spanClass: ''
        }"
    >
        <app-keyUpValueDownTable
            [componentProperties]="{
                id: '',
                clazz: '',
                colSize: 6,
                key: 'aaaa',
                value: 'bbbb'
            }"
        ></app-keyUpValueDownTable>
    </app-collapsable>


    <app-collapsable
        [componentProperties]="{
            sectionTitle: 'asdsd2',
            collapseSection: false,
            anchorID: 'bola2',
            fieldsetID: '',
            uniqueKey: '',
            parentID: '', 
            collapsedFieldSet: false,
            headerDivClass: '',
            anchorClass: '',
            iClass: '',
            spanClass: ''
        }"
    >
        <app-keyUpValueDownTable
            [componentProperties]="{
                id: '',
                clazz: '',
                colSize: 6,
                key: 'aaaa',
                value: 'bbbb'
            }"
        ></app-keyUpValueDownTable>
    </app-collapsable>

    <app-collapsable
        [componentProperties]="{
            sectionTitle: 'asdsd2',
            collapseSection: false,
            anchorID: 'bola2',
            fieldsetID: '',
            uniqueKey: '',
            parentID: '', 
            collapsedFieldSet: false,
            headerDivClass: '',
            anchorClass: '',
            iClass: '',
            spanClass: ''
        }"
    >
        <app-keyUpValueDownTable
            [componentProperties]="{
                id: '',
                clazz: '',
                colSize: 6,
                key: 'aaaa',
                value: 'bbbb'
            }"
        ></app-keyUpValueDownTable>
    </app-collapsable>

    <app-collapsable
        [componentProperties]="{
            sectionTitle: 'asdsd2',
            collapseSection: false,
            anchorID: 'bola2',
            fieldsetID: '',
            uniqueKey: '',
            parentID: '', 
            collapsedFieldSet: false,
            headerDivClass: '',
            anchorClass: '',
            iClass: '',
            spanClass: ''
        }"
    >
        <app-keyUpValueDownTable
            [componentProperties]="{
                id: '',
                clazz: '',
                colSize: 6,
                key: 'aaaa',
                value: 'bbbb'
            }"
        ></app-keyUpValueDownTable>
    </app-collapsable> -->
</div>
